doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    link(rel="stylesheet", href="/assets/css/index.css")

    title About
  body
    h1 Lorem Ipsum
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam bibendum libero luctus auctor gravida. Sed pulvinar tincidunt metus, a tincidunt lacus cursus a. Donec vestibulum quam mauris, ut faucibus magna eleifend at. Suspendisse vestibulum sit amet tortor ut bibendum. Nunc faucibus, nisl mollis convallis tincidunt, turpis libero mollis velit, vel viverra massa ex et lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.