doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    link(rel="stylesheet", href="/assets/css/index.css")

    title Form
  body
    h1 Form <small>(Test)</small>

    if (html)
      div!= html
      hr

    form(method="post")
      label(for="firstName") First name: 
      input(type="text" id="firstName" name="firstName")

      br
      br

      label(for="lastName") Last name: 
      input(type="text" id="lastName" name="lastName")

      br
      br

      input(type="submit" value="Submit")