doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    link(rel="stylesheet", href="/assets/css/index.css")

    title Oops... Error 404!
  body
    h1 Oops... Error 404! :(
    p Something went wrong:

    div(style="border: solid 1px red; color: red; padding: 15px; font-family: monospace;")
      | The page you are looking for does not exist or is unavailable.